<div class="footer">
  <div class="footer-links">
    <a href="https://www.thecocktaildb.com/api.php"><i class="fas fa-cocktail"></i></a>
    <a href="https://www.linkedin.com/in/meagan-butters/"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
