<div class="head">
  <h1 id="title"><%= link_to "Cheers!", root_path %></h1>
  <div class="toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <% ('a'..'z').to_a.each do |letter| %>
        <button class="btn btn-light btn-sm"><%= link_to letter, cocktail_index_path({letter: letter}) %></button>
      <% end %>
  </div>
  <div class="toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <% ('0'..'9').to_a.each do |letter| %>
      <button class="btn btn-light btn-sm"><%= link_to letter, cocktail_index_path({letter: letter}) %></button>
    <% end %>
  </div>
  <%= button_to "Random Cocktail", cocktail_path({id: @random["idDrink"]}), :method => :get, class: "btn btn-light btn-sm" %>
</div>