<div class="head">
  <h1>Cocktails</h1>
  <div>
    <ul>
      <% ('a'..'z').to_a.each do |letter| %>
        <% @firstletter = letter %>
        <li class="letter"><%= link_to letter, cocktail_index_path(letter: letter) %></li>
      <% end %>
    </ul>
  </div>
</div>