<div class="cards">
  <% @cocktails.each do |cocktail| %>
    <div class="card-product">
      <img src= <%= cocktail["strDrinkThumb"] %> />
      <div class="card-product-infos">
        <h2><%= cocktail["strDrink"] %></h2>
        <p><%= cocktail["strCategory"] %></p>
      </div>
    </div>
  <% end %>
</div>