.card-container {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 15px;
  justify-items: center;
}

.card {
  border: 3px solid pink;
  border-image: linear-gradient(45deg, #00DBDE 0%, #FC00FF 100%) 10;
  background-color: $light-gray;
  -webkit-box-shadow: 10px 10px 44px -16px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 44px -16px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 44px -16px rgba(0,0,0,0.75);
}

.card a {
  color: $gray;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}