.content {
    height: 76vh;
    width: 90%;
    -webkit-box-shadow: 11px 20px 79px -17px rgba(0,0,0,0.79);
    -moz-box-shadow: 11px 20px 79px -17px rgba(0,0,0,0.79);
    box-shadow: 11px 20px 79px -17px rgba(0,0,0,0.79);
    margin: 0 auto;
    background-color: $light-gray;
    overflow-y: scroll;
    border-radius: 10px;
  }
  
// Scrollbar
.content::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.content::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

.content::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: $light-gray;
}

body{
  background-color: #00DBDE;
  background-image: linear-gradient(45deg, #00DBDE 0%, #FC00FF 100%);
}