// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .navbar-lewagon {
    justify-content: space-between;
    background: white;
  }
  
  .navbar-lewagon .navbar-collapse {
    flex-grow: 0;
  }
  
  .navbar-lewagon .navbar-brand img {
    width: 40px;
  }
  
  .head {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    margin-bottom: 10px;
    margin-top:10px;

    #title {
      a {
        padding:5px;
        color: black;
      }
    }
  }
  
  .toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .navbar-lewagon {
    justify-content: space-between;
    background: white;
  }
  
  .navbar-lewagon .navbar-collapse {
    flex-grow: 0;
  }
  
  .navbar-lewagon .navbar-brand img {
    width: 40px;
  }
  
  .head {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    margin-bottom: 10px;
    margin-top:10px;
  
    #title {
      a {
        padding:5px;
        color: black;
      }
    }
  }
  
  .toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .navbar-lewagon {
    justify-content: space-between;
    background: white;
  }
  
  .navbar-lewagon .navbar-collapse {
    flex-grow: 0;
  }
  
  .navbar-lewagon .navbar-brand img {
    width: 40px;
  }
  
  .head {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    margin-bottom: 10px;
    margin-top:10px;
  
    #title {
      a {
        padding:5px;
        color: black;
      }
    }
  }
  
  .toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .navbar-lewagon {
    justify-content: space-between;
    background: white;
  }
  
  .navbar-lewagon .navbar-collapse {
    flex-grow: 0;
  }
  
  .navbar-lewagon .navbar-brand img {
    width: 40px;
  }
  
  .head {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    margin-bottom: 10px;
    margin-top:10px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
  
    #title {
      a {
        padding:5px;
        color: black;
      }
    }
  }
  
  .toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .navbar-lewagon {
    justify-content: space-between;
    background: white;
  }
  
  .navbar-lewagon .navbar-collapse {
    flex-grow: 0;
  }
  
  .navbar-lewagon .navbar-brand img {
    width: 40px;
  }
  
  .head {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    margin-bottom: 10px;
    margin-top:10px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
  
    #title {
      a {
        padding:5px;
        color: black;
      }
    }
  }
  
  .toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3px;
  }
}